body{
    background-color: rgb(34, 30, 30);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    display: flex;
    justify-content: center;
}


h1 {
    color: white;
}

h2 {
    color: white;
    border-bottom: 3px solid rgb(249, 249, 249 , 0.5); 
    padding-bottom: 5px;
}

p {
    color: white;
    margin: 7px;
    padding: 0;
}

.semantiek-content{
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
    gap: 3rem;
}

.semantiek-card{
    display: flex;
    background-color: rgb(39, 37, 37);
    border-radius: 10px;
    width: 600px;
    padding: 1rem;
    align-items: center;
    border: 4px solid rgb(255, 255, 255,0.5);
    flex-direction: column;
}

.tags{
    color: rgb(86, 156, 214);
}

.text-content{
    display: flex;
    align-items: right;
    flex-direction: column;
}
